.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d8d8d;
}

#drum-machine {
  background-color: #b3b3b3;
  outline: 5px solid orange;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.drum-pad {
  background-color: grey;
  box-shadow: black 3px 3px 5px;
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

#display{
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: bold;
  background-color: grey;
  box-shadow: black 3px 3px 5px;
  justify-content: center;
  align-items: center;
}
